<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>빰!</title>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    
    <style>

        
        
        
        
        @font-face{font-family:'HoonWhitecatR';src: url(../../ttf/HoonWhitecatR.ttf) format('truetype');}
        body{font-family:HoonWhitecatR;font-size:30px;}
    </style>
</head>
    <body>
    <h1 style="text-align: center"><%=aaa%>님 환영합니다.</h1>
        
    <header>
        
        <form method="get" action="/logout">
      
        <input type="submit" value="로그아웃"> 
		</form>
        
    </header><br>
    <nav border="1" style="float: left ;font-size:20px;margin-right: 50px">
        <div>
            <img src="./aaa.png"><br><br>
          
        </div><br><br>
<input class="btn btn-success" type="button" value="글쓰기" OnClick="location.href='./writeform'"> 
        
        <ul>
            <a href="main"><li>전체 글 보기</li></a>
            <a href="/hot"><li>인기 게시글</li></a>
            <a href="/inform"><li>정보 게시글</li></a>
            <li>잡담 게시글</li>
            
        </ul>
        </nav>
        
        
        
        <section  style="width: 80% ;float: right;margin-right: 5%">
            <form method="post" action="/serch">
            <input type="text" name="ser">
            
              <input type="submit" class="form-control" aria-describedby="basic-addon1" value="검색">
            </form>
            
            
            
            <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">제목</th>
      <th scope="col">글쓴이</th>
      <th scope="col">날자</th>
      <th scope="col">조회수</th>
    </tr>
  </thead>
  <tbody>
  <%for(var i=0;i<10;i++){%>
  <%if(brows[i]){%>
      <tr>
  <th scope="row"><%=brows[i].b_id%></th>
  <td><a href="/contentview<%=length-i%>"><%=brows[i].b_title%></a></td>
  <td><%=brows[i].b_writer%></td>
  <td><%=brows[i].b_date%></td>
  <td><%=brows[i].b_cnt%></td>
      </tr>
        <%}
      else{%>
      <tr>
      <th scope="row"></th>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
        </tr>
    <%}
 }
%>
  
  </tbody>
</table>

<%for(var i=0;i<length/10;i++){%>
            | <a href="/main<%=i+1%>"><%=i+1%></a> | 
            <%}%>
            
        </section>
    <footer>
    
    </footer>
</body>
</html>